<h1>Usuários</h1>


            <div class="panel-default">
              <div class="panel-heading">
                Usuários
                <%= link_to new_admin_path,
                class:"btn btn-success btn-circle pull-right", style:"margin-top: -5px" do %>
                  <i class="fa fa-plus"></i>

                <% end %>

              </div>

              <table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.id")%></th>
      <th><%= t("activerecord.attributes.user.nome")%></th>
      <th><%= t("activerecord.attributes.user.matricula")%></th>
      <th><%= t("activerecord.attributes.user.tipo_de_usuário")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
        <% @users.each do |user| %>
        <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                <!-- <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i>
                </button></td> -->

        <% end %>


                  <%= link_to new_admin_path do %>
                  <% end %>

        </tr>




  </tbody>
