<h1>Usuários</h1>


            <div class="panel-default">


              <table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.id")%></th>
      <th><%= t("activerecord.attributes.user.nome")%></th>
      <th><%= t("activerecord.attributes.user.matricula")%></th>
      <th><%= t("activerecord.attributes.user.tipo_de_usuário")%></th>
      <th colspan="3"><%= link_to fa_icon("user-plus", title: "Adicionar Usuário"), new_admin_path, class: "btn btn-success center", style:"margin-top: -5px" %></th>
    </tr>
  </thead>

  <tbody>
        <% @users.each do |user| %>
        <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>

              <!-- <td><%= link_to admin_path(user), method: :delete, class: "btn btn-danger" do %>
                  <i class="fa fa-minus"></i>
              </td> -->

              <td><%= link_to fa_icon("trash-o", title: "Excluir Usuário"), admin_path(user), method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>

                <% end %>

        <% end %>
        </tr>

  </tbody>
