<h1>Usu치rios</h1>


            <div class="panel-default">
              <div class="panel-heading">
                Usu치rios
              </div>

              <table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.id")%></th>
      <th><%= t("activerecord.attributes.user.nome")%></th>
      <th><%= t("activerecord.attributes.user.matricula")%></th>
      <th><%= t("activerecord.attributes.user.tipo_de_usu치rio")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
        <% @users.each do |user| %>
        <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                <!-- <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i>
                </button></td> -->

        <% end %>

              <br>
                  <%= link_to 'Cadastrar Usu치rio', new_admin_path, class: "btn btn-success pull-right"  %>
              <br/>
        </tr>




  </tbody>
